<form role="form" name="applicationForm" novalidate>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Register new application</h4>
    </div>

    <div class="modal-body" id="modal-body">
        <!-- Application name-->
        <div class="form-group" ng-class="{ 'has-error' : applicationForm.name.$invalid && applicationForm.name.$dirty }">
            <label for="name">Name</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"> <i class="glyphicon glyphicon-modal-window"></i></span>
                <input type="text" class="form-control" id="name" name="name"
                    ng-model="createAppVm.application.name"
                    placeholder="Input application name..."
                    required app-unique>
                <span ng-show="applicationForm.name.$invalid && applicationForm.name.$dirty" 
                    class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <span ng-show="applicationForm.name.$error.required && applicationForm.name.$dirty && !applicationForm.name.$error.unique"
                class="help-block" style="font-size: 10pt; margin:0px;">Application is required.</span>
            <span ng-show="applicationForm.name.$error.unique" class="help-block" style="font-size: 10pt; margin:0px;">Application name is already in use.</span>
        </div>

        <!-- Application description -->
        <div class="form-group" ng-class="{ 'has-error' : applicationForm.desc.$invalid && applicationForm.desc.$dirty }">
          <label for="description">Description</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"> <i class="glyphicon glyphicon-pencil"></i></span>
                <input type="text" class="form-control" id="description" name="desc"
                    ng-model="createAppVm.application.description"
                    placeholder="Aditional description..."
                    required>
                    <span ng-show="applicationForm.desc.$invalid && applicationForm.desc.$dirty" 
                        class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <span ng-show="applicationForm.desc.$invalid && applicationForm.desc.$dirty" 
                class="help-block" style="font-size: 10pt; margin:0px;">Description is required.</span>
        </div>

        <!-- Application version -->
        <div class="form-group">
            <label for="version">Current version of your application</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"> <i class="glyphicon glyphicon-tags"></i></span>
                <input type="text" class="form-control" id="version"
                    ng-model="createAppVm.application.latestVersion"
                    placeholder="Application version...">
            </div>
        </div>

        <!-- Application repository -->
        <div class="form-group">
          <label for="repo">Application's repository</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"> <i class="glyphicon glyphicon-globe"></i></span>
                <input type="text" class="form-control" id="repo"
                    ng-model="createAppVm.application.repo"
                    placeholder="Provide your app's repository...">
            </div>
        </div>

        <!-- Application DSN-->
        <div class="form-group" ng-class="{ 'has-error' : applicationForm.dsn.$invalid && applicationForm.dsn.$dirty }">
          <label for="dsn">DSN</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"> <i class="glyphicon glyphicon-cloud"></i></span>
                <input type="text" class="form-control" id="dsn" name="dsn"
                    ng-model="createAppVm.application.dsn"
                    placeholder="Provide your app's DSN..."
                    required app-unique>
                <span ng-show="applicationForm.dsn.$invalid && applicationForm.dsn.$dirty" 
                    class="glyphicon glyphicon-remove form-control-feedback"></span>
            </div>
            <span ng-show="applicationForm.dsn.$error.required && applicationForm.dsn.$dirty && !applicationForm.dsn.$error.unique"
                class="help-block" style="font-size: 10pt; margin:0px;">Application DSN is required.</span>
            <span ng-show="applicationForm.dsn.$error.unique" class="help-block" style="font-size: 10pt; margin:0px;">Application DSN is already in use.</span>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-disabled="applicationForm.$invalid" 
            ng-click="createAppVm.ok();">Register</button>
        <button class="btn btn-default" data-dismiss="modal" ng-click="createAppVm.cancel();">Cancel</button>
    </div>
</form>