<div class="container" style="margin-top: 60px;">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-xs-12 col-md-3" style="text-align: center;">
      <img src="http://resources1.news.com.au/images/2009/01/11/va1237349596788/Heath-Ledger-joker-golden-globes-6435336.jpg" alt="..."
          width="96px" height="96px" class="img-circle">
      <h4>Dragutin Marjanović</h4>
    </div>
    <div class="col-xs-12 col-md-9">
      <!-- Register new application button -->
      <div class="row">
        <button type="button" class="btn btn-success pull-right">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Register application
        </button>
      </div>

      <hr/>

      <!-- List of registred applications -->
      <div ng-repeat="app in dashboardVm.apps">
        <h3>{{app.name}}</h3>
        <p>{{app.description}}</p>
        <p>{{app.repo}}</p>
        <hr/>
      </div>
    </div>
  </div>
</div>