<div class="jumbotron jumbotron-header" style="">
  <h2>Sign Up for Poke Catcher</h3>
  <h4>Track error in every part of your stack.</h5>
</div>
<div class="container">
  <div class="row">
      <div class="col-xs-12 col-md-8">
        <form role="form" ng-submit="registerVm.register();" >
          <!-- Username register input field -->
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username"
                ng-model="registerVm.user.username"
                placeholder="Input your username...">
          </div>

          <!-- Password register input field -->
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password"
                ng-model="registerVm.user.password"
                placeholder="Input your password...">
          </div>

          <!-- Email address register input field -->
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email"
                ng-model="registerVm.user.mail"
                placeholder="Input your email...">
          </div>

          <!-- Name register input field -->
          <div class="form-group">
            <label for="name">Your name</label>
              <input type="text" class="form-control" id="name"
                ng-model="registerVm.user.name"
                placeholder="Input your name...">
          </div>

          <!-- Surname register input field -->
          <div class="form-group">
            <label for="surname">Your surname</label>
            <input type="text" class="form-control" id="surname"
                ng-model="registerVm.user.surname"
                placeholder="Input your surname...">
          </div>

          <!-- Submit button -->
          <button type="submit" class="btn btn-success btn-lg">Sign up</button>
        </form>
      </div>

      <div class="col-xs-12 col-md-4">
        <div>
          <h4>Lorem Ipsum I</h4>
          <p>
            Lorem ipsum dolor sit amet, duo at mollis omnium. Vix quem molestie cu, vim ad nibh probatus,
            eam et diceret definiebas. Et eos essent volumus, ius ne audiam alterum scriptorem, iusto graece
            voluptatibus has in. Mea homero pericula facilisis ex. An sea enim graeci suscipit, ubique perfecto
            id quo. Cu est ipsum dicunt pertinax, zril semper platonem ea vim, numquam persecuti ex pri.
            Usu justo qualisque ut, cu quo invenire gloriatur, wisi choro tollit pri ex.
          </p>
        </div>

        <div>
          <h4>Lorem Ipsum II</h4>
          <p>
            Lorem ipsum dolor sit amet, duo at mollis omnium. Vix quem molestie cu, vim ad nibh probatus,
            eam et diceret definiebas. Et eos essent volumus, ius ne audiam alterum scriptorem, iusto graece
            voluptatibus has in. Mea homero pericula facilisis ex. An sea enim graeci suscipit, ubique perfecto
            id quo. Cu est ipsum dicunt pertinax, zril semper platonem ea vim, numquam persecuti ex pri.
            Usu justo qualisque ut, cu quo invenire gloriatur, wisi choro tollit pri ex.
          </p>
        </div>

        <div>
          <h4>Lorem Ipsum II</h4>
          <p>
            Lorem ipsum dolor sit amet, duo at mollis omnium. Vix quem molestie cu, vim ad nibh probatus,
            eam et diceret definiebas. Et eos essent volumus, ius ne audiam alterum scriptorem, iusto graece
            voluptatibus has in. Mea homero pericula facilisis ex. An sea enim graeci suscipit, ubique perfecto
            id quo. Cu est ipsum dicunt pertinax, zril semper platonem ea vim, numquam persecuti ex pri.
            Usu justo qualisque ut, cu quo invenire gloriatur, wisi choro tollit pri ex.
          </p>
        </div>

      </div>
  </div>
</div>