.jumbotron-header {
  text-align: center;
}

.registered-users {
  background-color: #fafafa;
  border: 1px solid #eee;
  margin-top: 8px;
  padding: 16px 8px;
}

.registered-users > p {
  border-bottom: 1px solid #eee;
  padding: 8px;
}

#about {
  background-color:#428bca
}

.navbar-default {
  background-color: #337ab7;
  border-color: #286090;
}
.navbar-default .navbar-brand {
  color: #ced3d4;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #b4bec7;
}
.navbar-default .navbar-text {
  color: #ced3d4;
}
.navbar-default .navbar-nav > li > a {
  color: #ced3d4;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #b4bec7;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b4bec7;
  background-color: #286090;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b4bec7;
  background-color: #286090;
}
.navbar-default .navbar-toggle {
  border-color: #286090;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #286090;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ced3d4;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ced3d4;
}
.navbar-default .navbar-link {
  color: #ced3d4;
}
.navbar-default .navbar-link:hover {
  color: #b4bec7;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ced3d4;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b4bec7;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b4bec7;
    background-color: #286090;
  }
}